/AngularTestProjects/.vs/AngularTestProjects/v17/.suo
/AngularTestProjects/.vs/AngularTestProjects/DesignTimeBuild/.dtbcache.v2
/AngularTestProjects/.vs/AngularTestProjects/project-colors.json
/AngularTestProjects/.vs/AngularTestProjects/v17/.futdcache.v1
